appdirs==1.4.4
astroid==2.4.2
audioread==2.1.9
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
ffmpeg-python==0.2.0
ffprobe==0.5
ffprobe-python==1.0.3
filelock==3.0.12
future==0.18.2
isort==5.7.0
joblib==1.0.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.19.5
pycparser==2.20
pydub==0.24.1
pylint==2.6.0
pyparsing==2.4.7
pysndfx==0.3.6
scikit-learn==0.24.1
scipy==1.6.0
six==1.15.0
threadpoolctl==2.1.0
toml==0.10.2
urllib3==1.26.2
virtualenv==20.1.0
wrapt==1.12.1
gunicorn==19.7.1
whitenoise==3.3.1